<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <table class="tg">
    <tr>
      <th class="tg-yw4l"></th>
      <center><h2><a href="/">{{ site.data.theme.name }}</a></h2></center>
    </tr>
    <tr>
      <td class="tg-yw4l"></td>
      <center><h5><a href="/"mailto:>{{ site.data.theme.email }}</a></h5></center>
    </tr>
  </table>
  <div id="bio">
    <p>Systems Engineer  Infrastructure Architect  Devops Demon</p>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>

  <div id="tags">
    {% include tags.html %}
  </div>
</nav>
